<div class="navbar bg-base-100">
    <div class="navbar-start">
    <span class="uppercase"> <%= name %> </span>
    </div>
    <div class="navbar-center">
    <a href="/" class="btn btn-ghost normal-case text-2xl">PriceKicks</a>
    </div>
    <div class="navbar-end">
    <button class="btn btn-ghost btn-square btn-outline"><a href="/logout">Log out</a></button>
    </div>
</div>

