<div class="navbar bg-base-100 dark:bg-black">
    <div class="navbar-start">
    <span class="uppercase dark:text-slate-200"> <%= goatUserName %> </span>
    </div>
    <div class="navbar-center">
    <a href="/" class="btn btn-ghost normal-case text-3xl dark:text-blue-600">PriceKicks</a>
    </div>
    <div class="navbar-end">
    <button class="btn btn-ghost btn-square btn-outline"><a href="/logout" class="dark:text-slate-200">Log out</a></button>
    </div>
</div>

