<div class="hero" style="background-image: url(../assets/index-hero2.jpg);">
    <div class="hero-overlay bg-opacity-80"></div>
        <div class="text-center text-neutral-content py-36 px-4">
            <div class="max-w-md mx-auto">
                <h2 class="mb-5 text-4xl font-bold leading-tight">Explore the world's leading design portfolios</h2>
                <p class="mb-5">Millions of designers and agencies around the world showcase their portfolio word on Dribble - the home to the world's best design and creative professionals.</p>
                <form action="/product#product-info" method='GET' id="search" >
                    <input type="search" placeholder="Search..." name="sku" class="w-full max-w-md mt-4 rounded-full p-4 px-6 text-black" required/>
                    <button type="submit"></button>
                </form>
                <progress class="progress w-full hidden" id="progress"></progress>
            </div>
        </div>
    </div>
</div>