<table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
          <th></th>
          <% for (let i = 0; i < sizeRange.length; i++) { %>
              <th class="text-center"> <%= sizeRange[i] %> </th>
          <% } %>
      </tr>
    </thead>
    <tbody>
      <!-- StockX Row -->
      <tr>
          <th>StockX</th>
          <% for (let i = 0; i < sizeRange.length; i++) { %>
              <% let correspondingStockXVariant = stockXVariants.find(variant => variant.traits.size == sizeRange[i]) %>
              <% if (correspondingStockXVariant !== undefined) { %>
                  <% if (correspondingStockXVariant.market.bidAskData.lowestAsk == null) { %>
                      <th> -- </th>
                  <% } else { %>
                      <th class="font-normal"> $<%= correspondingStockXVariant.market.bidAskData.lowestAsk %>.00 </th>
                  <% } %>
              <% } else { %>
                  <th> -- </th>
              <% } %>
          <% } %>
      </tr>
      <!-- Goat Row -->
      <tr>
          <th>Goat</th>
          <% for (let i = 0; i < sizeRange.length; i++) { %>
              <% let correspondingGoatVariant = goatVariants.find(variant => variant.size == sizeRange[i]) %>
              <% if (correspondingGoatVariant !== undefined) { %>
                  <th class="font-normal"> $<%= correspondingGoatVariant.price %> </th>
              <% } else { %>
                  <th> -- </th>
              <% } %>
          <% } %>
       </tr>
  </table>