<form action="/product" method='GET'>
    <input type="text" placeholder="Enter Product SKU" name='sku' >
    <input type="text" placeholder="Enter Product Size" name='size'>
    <button type="submit" class="btn btn-ghost">Submit</button>
  </form>