<!DOCTYPE html>
<html lang="en" class="dark:bg-black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Sign in to PriceKicks</title>
</head>
<body>
    <p>Dashboard</p>
 
        <section class="mt-4">
            <label for="product" class="text-sm">Product SKU</label>
            <input id="product" name="prodct" type="text" >
        </section>
       
        <button id="submit-product" type="button">Get Product</button>

</body>
</html>