<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <p>Dashboard</p>
 
        <section class="mt-4">
            <label for="product" class="text-sm">Product SKU</label>
            <input id="product" name="prodct" type="text" >
        </section>
       
        <button id="submit-product" type="button">Get Product</button>

</body>
</html>