<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Sign in to PriceKicks</title>
</head>
<body>
    <div class="flex flex-col items-center mt-4">
        <h1 class="text-2xl mt-4 font-light tracking-tight">Sign in to PriceKicks</h1>
        <div class="card card-normal px-4 mt-4  bg-slate-100 rounded-md  border border-solid border-slate-300 ">
            <div class="card body items-center">
                <form action="/login/password" method="post" class="px-1.5">
                    <section class="mt-4">
                        <label for="email" class="text-sm">Email address</label>
                        <input id="email" name="email" type="text" autocomplete="email" class="input input-bordered w-full input-sm w-max-xs mt-2 rounded-md focus:outline-offset-0 focus:outline-2 focus:outline-blue-500" required autofocus>
                    </section>
                    <section class="mt-4">
                        <label for="current-password" class="text-sm">Password</label>
                        <input id="current-password" name="password" type="password" class="input input-bordered input-sm w-full w-max-xs mt-2 rounded-md focus:outline-offset-0 focus:outline-2 focus:outline-blue-500" autocomplete="current-password" required>
                    </section>
                    <button class="my-4 btn-block px-2 py-2 rounded-md bg-green-600 hover:bg-green-700 text-white text-sm font-semibold" type="submit">Sign in</button>
                </form>
            </div>
        </div>

        <div class="card card-normal px-4 mt-4 items-center rounded-md border border-solid border-slate-300">
            <div class="card body items-center">
                <p class="px-5 py-4 text-sm"> New to PriceKicks? <span class="text-blue-500"><a href="/signup">Create an account.</a></span></p>
               
            </div>
        </div>

          
          
        
    </div>
</body>
</html>