<!DOCTYPE html>
<html lang="en" class="dark:bg-black font-poppins">
<head>
    <%- include('./partials/head'); %>
    <title>Sign in to PriceKicks</title>
</head>
<body>

    <div class="navbar bg-base-100 align-middle dark:bg-black">
        <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li> <a href="/signup" class="btn btn-ghost uppercase dark:text-slate-200">Sign Up</a></li>  
                <li> <a href="#login" class="btn btn-ghost uppercase dark:text-slate-200">Log In</a></li>
            </ul>
        </div>
        <a href="/" class="btn btn-ghost uppercase text-3xl md:text-4xl dark:text-slate-300 font-rampart-one">PriceKicks</a>
        </div>

        <div class="navbar-end hidden md:flex">
            <ul class="menu menu-horizontal p-0">
                <li> <a href="#login" class="btn btn-ghost uppercase dark:text-slate-200">Log In</a></li>
                <li> <a href="/signup" class="btn btn-ghost uppercase dark:text-slate-200">Sign Up</a></li>  

                <a aria-label="Github" target="_blank" href="https://github.com/jennaly/priceKicks" rel="noopener" class="btn btn-ghost drawer-button btn-square normal-case">
                    <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="inline-block h-5 w-5 fill-current md:h-6 md:w-6">
                        <path d="M256,32C132.3,32,32,134.9,32,261.7c0,101.5,64.2,187.5,153.2,217.9a17.56,17.56,0,0,0,3.8.4c8.3,0,11.5-6.1,11.5-11.4,0-5.5-.2-19.9-.3-39.1a102.4,102.4,0,0,1-22.6,2.7c-43.1,0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1,1.4-14.1h.1c22.5,2,34.3,23.8,34.3,23.8,11.2,19.6,26.2,25.1,39.6,25.1a63,63,0,0,0,25.6-6c2-14.8,7.8-24.9,14.2-30.7-49.7-5.8-102-25.5-102-113.5,0-25.1,8.7-45.6,23-61.6-2.3-5.8-10-29.2,2.2-60.8a18.64,18.64,0,0,1,5-.5c8.1,0,26.4,3.1,56.6,24.1a208.21,208.21,0,0,1,112.2,0c30.2-21,48.5-24.1,56.6-24.1a18.64,18.64,0,0,1,5,.5c12.2,31.6,4.5,55,2.2,60.8,14.3,16.1,23,36.6,23,61.6,0,88.2-52.4,107.6-102.3,113.3,8,7.1,15.2,21.1,15.2,42.5,0,30.7-.3,55.5-.3,63,0,5.4,3.1,11.5,11.4,11.5a19.35,19.35,0,0,0,4-.4C415.9,449.2,480,363.1,480,261.7,480,134.9,379.7,32,256,32Z"></path>
                    </svg>
                </a>

            </ul>
        </div>
    </div>

    <div class="hero min-h-screen" style="background-image: url(../assets/index-hero.jpg);">
        <div class="hero-overlay bg-opacity-80 dark:bg-opacity-70 "></div>
            <div class="text-center text-neutral-content py-10 2xl:py-36 px-4">
                <div class="max-w-md mx-auto">
                    <h2 class="mb-5 text-2xl md:text-4xl font-bold leading-tight dark:text-slate-100">Your sneaker reselling business on a new level </h2> 
                    <p class="mb-5 dark:text-slate-100 text-base">PriceKicks compares prices from leading sneaker websites and calculates your payout based on the fee structure of each marketplace to find you the best deal.</p>
                    <button class="btn btn-primary gap-2">
                        <a href="#login">
                        Get Started
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="login" class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Login now!</h1>
            <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
          </div>
          <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                <input type="text" placeholder="email" class="input input-bordered" />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Password</span>
                </label>
                <input type="text" placeholder="password" class="input input-bordered" />
              </div>
              <div class="form-control mt-6">
                <button class="btn btn-primary">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="flex flex-col items-center mt-4">
        <h1 class="text-2xl mt-4 font-light tracking-tight text-black dark:text-slate-200">Sign in to PriceKicks</h1>
      
        <div class="card card-normal px-4 mt-4  bg-slate-100 dark:bg-zinc-900 rounded-md  border border-solid border-slate-200 dark:border-zinc-800">
            <div class="card body items-center">
                <form action="/login/password" method="post" class="px-1.5 pb-4">
                    <section class="mt-4">
                        <label for="email" class="text-sm dark:text-slate-300">Email address</label>
                        <input id="email" name="email" type="text" autocomplete="email" class="input input-bordered w-full input-sm w-max-xs mt-2 rounded-md focus:outline-offset-0 focus:outline-2 focus:outline-blue-500 dark:focus:outline-sky-500 dark:text-slate-300 dark:bg-black" required autofocus>
                    </section>

                    <section class="mt-4">
                        <label for="current-password" class="text-sm dark:text-slate-300">Password</label>
                        <input id="current-password" name="password" type="password" class="input input-bordered input-sm w-full w-max-xs mt-2 rounded-md focus:outline-offset-0 focus:outline-2 focus:outline-blue-500 dark:focus:outline-sky-500 dark:text-slate-300 dark:bg-black" autocomplete="current-password" required>
                    </section>
                    <button class="mt-4 btn-block px-2 py-2 rounded-md bg-green-600 dark:bg-green-700 hover:bg-green-700 dark:hover:bg-green-600 text-white text-sm font-semibold" type="submit">Sign in</button>
                    <% if (locals.error) { %>
                        <% if (locals.error["message"] == "Unauthorized") { %>
                            <div class="alert alert-error shadow-lg mt-4">
                                <div>
                                  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                  <span class="text-xs ">Incorrect email or password</span>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </form>
            </div>
        </div>

        <div class="card card-normal w-full max-w-xs px-5 mt-4 items-center rounded-md border border-solid border-slate-300 dark:border-zinc-800">
            <div class="card body items-center">
                <p class="py-4 text-sm dark:text-slate-200"> New to PriceKicks? <span class="text-blue-500"><a href="/signup">Make an account.</a></span></p>
            </div>
        </div>

    </div>
</body>
</html>