<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Sign in to PriceKicks</title>
</head>
<body>
    <div class="flex flex-col items-center mt-4">
        <h1>Product: <%= sku %> </h1>
        <section class="stockx"> 
            <p>Lowest ask price:</p>
        </section>
    </div>

</body>
</html>