<!DOCTYPE html>
<html lang="en" class="dark:bg-black font-poppins">
<head>
    <%- include('./partials/head'); %>
    <title>Join PriceKicks</title>
</head>
<body>
    <div class="flex flex-col items-center mt-4">
        <h1 class="text-2xl mt-4 font-light tracking-tight text-black dark:text-slate-200">Join PriceKicks</h1>
        <div class="card card-normal px-4 mt-4  bg-slate-100 dark:bg-zinc-900 rounded-md border border-solid border-slate-200 dark:border-zinc-800">
            <div class="card body items-center">
                <form action="/signup" method="post" class="px-1.5 pb-4">
                    <section class="mt-4">
                        <label for="name" class="text-sm dark:text-slate-300">Name</label>
                        <input id="name" name="name" type="text" class="input input-bordered input-sm w-full max-w-xs mt-2 rounded-md focus:outline-offset-0 focus:outline-2 focus:outline-blue-500 dark:focus:outline-sky-500 dark:text-slate-300 dark:bg-black" required autofocus>
                    </section>
                
                    <section class="mt-4">
                        <label for="email" class="text-sm dark:test-slate-300">Email address</label>
                        <input id="email" name="email" type="text" autocomplete="email" onclick="deleteEmailValMsg()" class="input input-bordered input-sm w-full max-w-xs mt-2 rounded-md focus:outline-offset-0 focus:outline-2 focus:outline-blue-500 dark:focus:outline-sky-500 dark:text-slate-300 dark:bg-black" required>
                        
                        <% if (locals.errors) { %>
                            <% for (let i = 0; i < locals.errors.length; i++) { %>
                                <% if (locals.errors[i]['param'] == 'email') { %>
                                    <div id="emailValMsg" class="alert alert-warning shadow-lg my-4">
                                        <div>
                                          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                                          <span class="text-xs">Warning: Invalid email address!</span>
                                        </div>
                                      </div>
                                <% } %>
                            <% } %>
                        <% } %>
                        
                    </section>

                    <section class="mt-4 items-center">
                        <label for="new-password" class="text-sm">Password</label>
                        <input id="new-password" name="password" type="password" onclick="deletePasswordValMsg()" autocomplete="new-password" class="input input-bordered input-sm w-full max-w-xs mt-2 rounded-md focus:outline-offset-0 focus:outline-2 focus:outline-blue-500 dark:focus:outline-sky-500 dark:text-slate-300 dark:bg-black" required>
                        
                        <% if (locals.errors) { %>
                            <% for (let i = 0; i < locals.errors.length; i++) { %>
                                <% if (locals.errors[i]['param'] == 'password') { %>
                                    <div id="passwordValMsg" class="alert alert-warning shadow-lg mt-4 mb-2">
                                        <div>
                                          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                                          <span class="text-xs">Password <%= locals.errors[i]['msg'] %></span>
                                        </div>
                                      </div>
                                <% } %>
                            <% } %>
                        <% } %>
                    </section>

                    <div class="divider"></div>  
                    <span class="text-sm ">Seller Profile</span>
                    <section class="mt-4 items-center">
                        <select class="select w-full max-w-xs rounded-md focus:outline-offset-0 focus:outline-2 focus:outline-blue-500 dark:focus:outline-sky-500 dark:text-slate-300 dark:bg-black"  id="stockXTransactionFee" name="stockXTransactionFee" required>
                            <option disabled selected class="text-sm font-thin">StockX Seller Level</option>
                            <option value=0.10>Level 1</option>
                            <option value=0.095>Level 2</option>
                            <option value=0.09>Level 3</option>
                            <option value=0.085>Level 4</option>
                            <option value=0.08>Level 5</option>
                        </select>                    
                    </section>

                    <section class="mt-4 items-center">
                        <select class="select w-full max-w-xs rounded-md focus:outline-offset-0 focus:outline-2 focus:outline-blue-500 dark:focus:outline-sky-500 dark:text-slate-300 dark:bg-black"  id="goatCommissionFee" name="goatCommissionFee" required>
                            <option disabled selected class="text-sm">Goat Seller Rating</option>
                            <option value=0.095>90 or greater</option>
                            <option value=0.15>70-89</option>
                            <option value=0.20>50-69</option>
                            <option value=0.25>Less than 50</option>
                        </select>                    
                    </section>

                    <button class="mt-4 btn-block px-2 py-2 rounded-md bg-green-600 dark:bg-green-700 hover:bg-green-700 dark:hover:bg-green-600 text-white text-sm font-semibold" type="submit">Sign up</button>
                    <% if (locals.existingAccountError) { %>
                        <div class="alert alert-error shadow-lg mt-4">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                <span class="text-xs "> <%= locals.existingAccountError %> </span>
                            </div>
                        </div>
                    <% } %>
                </form>
            </div>
        </div>

        <div class="card card-normal w-full max-w-xs px-4 mt-4 items-center rounded-md border border-solid border-slate-300 dark:border-zinc-800">
            <div class="card body items-center">
                <p class="py-4 text-sm dark:text-slate-200"> Already have an account? <span class="text-blue-500"><a href="/login">Sign In.</a></span></p>
            </div>
        </div>
    </div>
    <script src="/js/signupValidation.js"></script>
</body>
</html>



